{% extends 'base.html.twig' %}

{% block title %}Index des Interventions{% endblock %}

{% block body %}



<div class="content-container">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
          
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Interventions</h1>

                    <div class="card mb-4">
                        
                        <div class="card-body">
                            <table id="datatablesSimple" >
                            <div class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Adresse</th>
                                        <th>Type</th>
                                        <th>Précisions</th>
                                        <th>Statut</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for intervention in interventions %}
                                    <tr>
                                        <td>{{ intervention.id }}</td>
                                        <td>{{ intervention.Adresse }}</td>
                                        <td>{{ intervention.Type }}</td>
                                        <td>{{ intervention.Precisions }}</td>
                                        <td>{{ intervention.Statut }}</td>
                                        <td>{{ intervention.Date ? intervention.Date|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                            <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}" class="btn btn-info btn-sm">Afficher</a>
                                            <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="7">Aucun enregistrement trouvé</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
   
    <a href="{{ path('app_intervention_new') }}" class="btn btn-success mt-3">Créer un nouveau</a>
</div>

{% endblock %}
